.chart{
    text-align: center;
}
select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #333;
    cursor: pointer;
  }
  
  select:hover {
    background-color: #e6e6e6;
  }
  
  option {
    font-size: 14px;
    padding: 5px;
  }